body{

	background-color: #ffffff;
	font-family: Arial;
	margin: 0;

}

.main{

	width:1230px;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
}
/*The css code of the header from w3schools.com*/
/*source URL: www.w3schools.com/howto/tryit.asp?filename=tryhow_css_style_header */
/*The header implmented as a class that will called in the HTML*/

.header{

	padding: 60px;
	text-align: center;
	background: #ffad33;
	color:white;
	font-size: 30px;
}

/*The nav css style codes are modified from the w3schools.com */
/*Source URL: https://www.w3schools.com/howto/howto_css_topnav_right.asp*/ 
/*Source URL: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav_centered*/
/*Source URL: https://www.w3schools.com/css/css_padding.asp*/



/*Homepage picture and text*/
  .container{

  	width: 50%;
  	padding-top: 100px;
  	padding-left: 300px;
  	padding-right: 30px;

  
  }

  .photo{

  	float: left;
  	width: 60%;

  }

  .content{

  	float: right;
  	width: 40%;
 	padding-right: 30;
  }



