
* {box-sizing: border-box}

body{

	background-color: #ffffff;
	font-family: Arial;
	margin: 0;

}


/*******************************************************
*********************   Header   ***********************
********************************************************/
/*The css code of the header from w3schools.com*/
/*source URL: www.w3schools.com/howto/tryit.asp?filename=tryhow_css_style_header */
/*Source URL: https://www.w3schools.com/howto/howto_css_responsive_header.asp*/
/*The header implmented as a class that will called in the HTML*/

.header{

	padding: 20px 10px;
	background: #ffad33;
	overflow: hidden;
	
	
}

.header a{

	float: left;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

@media screen and (max-width: 500px){

	.header a{
		float: none;
		display: block;
		text-align: left;
	}

}

/*******************************************************
*********************   Nav Bar  ***********************
********************************************************/
/*The nav css style codes are modified from the w3schools.com */
/*Source URL: https://www.w3schools.com/howto/howto_css_topnav_equal_width.asp*/ 

.navbar{
	
	width: 100%;
	background-color:#333;
	overflow: hidden;
}
/*Nav links*/
.navbar a{
	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	width: 16.66%; /*The first assignment requires 6 pages then each link of page is 16.66%*/
	text-align: center;
}

/*Backgroud color when move the mouse over the navbar*/
.navbar a:hover{
	background-color: #000;
}

.navbar a.active{

	background-color: #4CAF50;
}

@media screen and (max-width: 500px){
	.navbar a{
		float: none;
		display: block;
		width: 100%;
		text-align: left; /*Text left align when user using a small screen*/
	}
}


/*******************************************************
*********************   Footer   ***********************
********************************************************/
.footer{

	float: center;

}

/*******************************************************
*********************Gallery Page***********************
********************************************************/

/*Source URL: https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive*/

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*******************************************************
*********************Homepage Image*********************
********************************************************/

.homeimg {
	width: 100%;
	max-width: 1024px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*SVG*/
.square {
	
	fill: #ff9933;
	stroke: purple;
	stroke-width:1;
	display: block;
	margin: auto;

	/*height: 69px;
	width: 336px;
	*/
}

.svgbox{
	
	width: 600px;
    height: 100px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    display: block;
	margin: auto;

}



/*******************************************************
***************Table Header for Plan page***************
********************************************************/

/*Code modified from W3school*/
/*Source Code URL: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_id1*/

th, td {
    padding: 15px;
    text-align: left;
}
.tableHeader {
    width: 100%;    
    background-color: #f1f1c1;
}

/*******************************************************
***********************"About"page**********************
********************************************************/


.inline-border{

	margin: 0px auto;
	width: 400px;
	height: 200px;
	background-color: white;
	text-align: left;
	font-size: 16px;
	color: black;
	line-height: 120%;
	letter-spacing: 1px;

}